body {
  margin-left: 100px;
  padding: 0px 10px;
  background: rgb(36, 36, 36);
  background: linear-gradient(
    67deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(38, 38, 38, 1) 50%,
    rgba(41, 41, 41, 1) 100%
  );
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}
